html {
    height: 100%;
    width: 100%;
    body {
        font-family: 'Trebuchet MS', sans-serif;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        .img {
            position: relative;
            overflow: hidden;
            &:hover .title {
                opacity: 1;
            }
            .title {
                mix-blend-mode: difference;
                transition: transform 0.5s cubic-bezier(.44, .54, .77, .7), opacity 1s ease;
                margin-top: 0px;
                position: absolute;
                top: 0;
                right: 38%;
                font-weight: 900;
                font-size: 35px;
                opacity: 0;
            }
        }
    }
}